.my-title{
	color: red;
  font-size: 3rem;
}

.my-h1{
	color: green;
  font-size: 2rem;
}

.my-p1{
	color: blue;
  font-size: 1.6rem;
}

.my-p2{
	color: orange;
  font-size: 1.4rem;
}

.my-p3{
	color: hotpink;
  font-size: 1.2rem;
}
